.come-club {
    background-color: #ede734;
    display: flex;
    justify-content: center;
    padding: 40px;
    align-items: center;
    gap: 60px;
}

.come-club h3 {
    font-size: 1.875rem;
    text-transform: uppercase;
    width: 21ch;
}

.come-club button {
    text-transform: uppercase;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    text-align: left;
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;
    padding: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
}
