.onMobile {
    display: none;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
}

.footer .onDesktop ul li{
    margin-bottom: 10px;
    font-size: 0.8125rem;
    cursor: pointer;
}

.footer .onDesktop ul .last {
    margin-bottom: 30px;
}

.footer .onDesktop ul li:hover {
    text-decoration: underline;
}

.footer .onMobile section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.footer .onMobile section ul li {
    padding: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 0.75rem;
}

.footer .onMobile {
    background-color: #363738;
}

.direitos {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

@media (max-width: 1016px) {

    .onMobile {
        display: block;
    }

    .onDesktop {
        display: none;
    }

    .footer {
        display: block;
        text-align: center;
        margin-top: 0px;
    }

}