@import url(//db.onlinewebfonts.com/c/80b09c4ebad1bdde194e60b3dd2c5071?family=AdihausDIN+Cn);
@import url(//db.onlinewebfonts.com/c/c0cd6ec8ce6d2bbd315a13b62ed13550?family=AdihausDIN);

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: AdihausDIN;
}

body, html {
    overflow-x: hidden!important;
}

@media (max-width: 1016px){
    body, html {
    overflow-x: hidden!important;
    }
}
