header {
    overflow-y: hidden;
    overflow-x: hidden;
    top: 0;
    left: 0;
    align-items: center;
    height: auto;
}

header > .offer h3 {
    color: #fff;
    background-color: #000;
    text-align: center;
    font-size: 0.6875rem;
    letter-spacing: 0.15rem;
    padding: 25px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

