header {
    overflow-y: hidden;
    overflow-x: hidden;
    top: 0;
    left: 0;
    align-items: center;
    height: auto;
}

header > .offer h3 {
    color: #fff;
    background-color: #000;
    text-align: center;
    font-size: 0.6875rem;
    letter-spacing: 0.15rem;
    padding: 25px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

header > .offer h3:hover {
    text-decoration: underline;
}

header .extra-inf {
    position: relative;
    height: 16px;
}

header .extra-inf nav ul {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 0;
    padding-right: 40px;
}

header .extra-inf nav ul li {
    font-size: 0.8125rem;
    cursor: pointer;
    padding: 5px;
}

header .first-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    position: relative;
}

header .first-menu .icons-left {
    display: none;
}

header .first-menu .logo {
    cursor: pointer;
}

header .first-menu .menu {
    display: flex;
}

header .first-menu nav > ul .name-category {
    font-size:.9rem;
    padding: 0px 10px;
    cursor: pointer;
    margin-top: 15px;
    letter-spacing: 0.1rem;
}

header .first-menu > nav > ul li::after {
    content: '';
    display: block;
    width: 0px;
    height: 3px;
    margin-top: 10px;
    background: #000;
}

header .first-menu > nav > ul li:hover::after {
    width: 100%;
    transition: 0.4s;
}

header .first-menu nav > ul .thisBold {
    font-weight: bold;
}

header .first-menu .category {
    display: flex;
    align-items: center;
}

header .first-menu .category > li { 
    text-transform: uppercase;
    font-size: 1rem;
}

header .first-menu .userAssetsAndSearch {
    display: flex;
}

header .first-menu .search {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0);
    position: absolute;
    right: 210px;
}

header .first-menu .search .buttonSearch {
    display: flex;
    align-items: center;
}

header .first-menu .search > input {
    display: inline-block;
}

header .first-menu .search:hover {
    border: 1px solid rgb(105, 105, 105);
    transition: 0.5s;
}

header .first-menu .userAssetsAndSearch .assets .menu li {
    display: flex;
    font-size:1rem;
    cursor: pointer;
    padding: 5px 18px;
}

header .first-menu .userAssetsAndSearch .assets .menu .hamburgerAndHeart .hamburger-li {
    display: none;
}

header .nav-mobile .category {
    display: none;
    z-index: 999;
}

header .search-mobile {
    display: none;
}

header .background-form {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
}

header .close {
    position: absolute;
    top:-20px;
    right: 182px;
    width: 10px;
    height: 10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #000;
}

header .close.active {
    opacity: 1;
    transition: opacity 2s;
}

header .close span {
    display: grid;
}

header .close span svg {
    place-self: center;
}

header .login-form {
    background-color: #fff;
    position: absolute;
    right: 0px;
    top: -120rem;
    width: 414.60px;
    padding: 20px;
    display: grid;
    gap: 15px;
    transition: 0.5s;
    z-index: 999;
}

header .login-form.active {
    top: 160px;
}

header .login-form .close {
    right: 182px;
    top: -20px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #000;
}

header .login-form h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

header .login-form .benefits-ul li .benefits::before {
    content: '';
    display: inline-block;
    background-image: url('/assets/imgs/done.svg');
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

header .login-form .benefits-ul li .benefits span {
    color: #0081c7;
}

header .login-form h2 {
    font-size: 1.25rem;
    text-transform: uppercase;
}

header .login-form .account {
    position: relative;
    padding: 15px;
    background-color: #fff;
    border: 1px solid rgb(134, 134, 134);
}

header .login-form .account input {
    width: 100%;
}

header .login-form .account label {
    background-color: #fff;;
    color: rgb(175, 175, 175);
    position: absolute;
    left: 15px;
    margin-top: 0px;
    font-size: 0.80rem;
    transition: 0.5s;
}

header .login-form .account label.active {
    margin-top: -25px;
}

header .login-form .terms input {
    display: none;
}

header .login-form .terms input + label::before {
    content: '';
    width: 18px;
    height: 18px;
    border: 2px solid rgb(100, 100, 100);
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    cursor: pointer;
    transition: 0.5s;
}

header .login-form .terms input + label:hover::before {
    border: 2px solid #000;
}

header .login-form .terms input:checked + label::before {
    background-color: #000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='%23fff' class='bi bi-check2' viewBox='0 0 16 16'%3E%3Cpath d='M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E");
    background-position: center;
    border: 2px solid #000;
}

header .login-form .terms label span {
    text-decoration: underline;
    cursor: pointer;
    transition: 0.5s;
}

header .login-form .terms label span:hover {
    background-color: #000;
    color: #fff;
    padding: 3px 0px;
}

header .login-form .button-submit {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    padding: 15px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
}

header .login-form .button-submit::before {
    content: '';
    position: absolute;
    border: 1px solid #000;
    width: 100%;
    height: 50px;
    z-index: -1;
    top: 2px;
    left: 2px;
}

header .login-form .button-submit svg {
    width: 20px;
    height: 20px;
    font-weight: bold;
} 

header .login-form .button-submit:hover {
    color: rgb(173, 173, 173);
}

header .login-form .social {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50px;
    gap: 20px;
}

header .login-form .social li {
    border: 1px solid black;
    display: grid;
    cursor: pointer;
}

header .login-form .social li img {
    place-self: center;
}

header .favorite-form {
    background-color: #fff;
    max-width: 500px;
    position: absolute;
    right:20px;
    top: -90rem;
    padding: 20px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
    background-color:#fff;
    transition: 0.5s;
    z-index: 999;
}

header .favorite-form.active {
    top: 160px;
}

header .favorite-form .wishlist {
    display: grid;
    position: relative;
}

header .favorite-form .wishlist nav ul li {
    position: relative;
}

header .favorite-form .wishlist nav ul li .unfavorite{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

header .favorite-form .favorite-items nav ul {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #fff;
    place-items: center;
    padding: 20px;
}

header .favorite-form .favorite-items nav ul li {
    display: grid;
    gap: 10px;
}

header .favorite-form .favorite-items .wishlist .inf {
    background-color: rgb(168, 168, 168);
    padding: 20px;
    width: 300px;
    position: absolute;
    left:-300px;
    display: grid;
    gap: 5px;
}

header .favorite-form .wishlist .inf button {
    background-color: #fff;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    padding: 15px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    border: 1px solid #000;
}


header .favorite-form .wishlist .inf button::before {
    content: '';
    position: absolute;
    border: 1px solid #000;
    width: 100%;
    height: 50px;
    z-index: -1;
    top: 2px;
    left: 2px;
}

header .favorite-form .wishlist .inf button svg {
    width: 20px;
    height: 20px;
    font-weight: bold;
} 

header .favorite-form h1 {
    text-transform: uppercase;
}

header .favorite-form .close {
    right:101px;
    position: absolute;
    display: block;
    opacity: 1;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #000;
    top:-20px;
}

header .shopping-form {
    background-color: #fff;
    max-width: 500px;
    text-transform: uppercase;
    position: absolute;
    display: grid;
    right:20px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
    top:-120rem;
    transition: 0.5s;
    z-index: 999;
}

header .shopping-form.active {
    top: 160px;
}

header .shopping-form .close {
    right:40px;
    position: absolute;
    opacity: 1;
    top: -20px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #000;
}

header .shopping-form .button-submit {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    padding: 15px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
}

header .shopping-form .button-submit::before {
    content: '';
    position: absolute;
    border: 1px solid #000;
    width: 100%;
    height: 50px;
    z-index: -1;
    top: 2px;
    left: 2px;
}

header .shopping-form .button-submit svg {
    width: 20px;
    height: 20px;
    font-weight: bold;
} 

header .shopping-form .button-submit:hover {
    color: rgb(173, 173, 173);
}

header .shopping-form h1 {
    text-align: center;
}

header .shopping-form .item {
    display: grid;
    grid-template-columns: auto 1fr;
    border: 1px solid #000;
    margin-bottom: 40px;
    place-self: center;
}

header .shopping-form .item section {
    width: 100%;
}

header .shopping-form .item .info-item {
    display: grid;
    grid-template-columns: 1fr 50px;
    padding: 10px 0px 10px 20px;
}

header .shopping-form .item .info-item .nameAndValue {
    display: flex;
    justify-content: space-between;
}

header .shopping-form .item .info-item .icons {
    display: grid;
    align-self: start;
    justify-self: center;
    justify-content: center;
    gap: 20px;
}

header .shopping-form .item .info-item .icons img, header .shopping-form .item .info-item .icons svg {
    cursor: pointer;
}

header .shopping-form .item .info-item .item-quantity {
    grid-column: 1/-1;
}

header .shopping-form .item .info-item .item-quantity select {
    padding: 20px 30px;
    border:1px solid #000;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 1350px) {

    header .first-menu {
        justify-content: initial;
    }

    header .first-menu nav > ul .name-category {
        font-size: 0.75rem;
    }

    header .first-menu .userAssetsAndSearch {
        position: absolute;
        right: 40px;
        align-items: center;
    }

    header .first-menu .search {
        position: relative;
        right:0;
        padding: 5px 5px;
        margin-right: 0px;
    }

    header .first-menu .search .searching {
        width: 120px;
    }

}

@media (max-width: 1016px) {

    header .extra-inf {
        display: none;
    }

    header .first-menu {
        display: flex;
        padding: 0px 10px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    header .first-menu .icons-left {
        display: flex;
        flex-direction: row;
        flex: 1;
    }

    header .first-menu .logo {
        grid-column: 2;
        justify-self: center;
        width: 60px;
        height: 60px;
    }

    header .first-menu .userAssetsAndSearch {
        position: relative;
        right: 0px;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        flex: 1;
    }

    header .first-menu .userAssetsAndSearch .assets .menu li {
        padding: 17px 18px;
    }

    header .first-menu .icons-left {
        grid-column: 0;
        justify-content: flex-start;
    }

    header .first-menu .icons-left li {
        display: flex;
        align-items: center;
        padding: 17px 18px;
        cursor: pointer;
    }

    header .first-menu .icons-left li span {
        border-top: 3px solid #000;
        width: 30px;
    }

    header .first-menu .icons-left .hamburger-li span::before {
        content: '';
        display: block;
        width: 30px;
        height: 3px;
        background-color: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }

    header .first-menu .icons-left .hamburger-li span::after {
        content: '';
        display: block;
        width: 30px;
        height: 3px;
        background-color: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }

    header .first-menu .nav .category {
        display: none;
    }

    header .nav-mobile {
        background-color: orange;
        overflow-x:hidden;
    }

    header .nav .category {
        background-color: #fff;
        position: absolute;
        display: block!important;
        left: -120rem;
        top:160px;
        width: 100%;
        transition: 0.5s;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
    }

    header .nav.active .category {
        left: 0rem;
    }

    header .nav .category > li { 
        text-transform: uppercase;
        font-size: 1rem;
    }

    header .nav.active .category {
        left: 0rem;
    }

    header .nav > ul .name-category {
        font-size:.9rem;
        cursor: pointer;
        margin-top: 15px;
        letter-spacing: 0.1rem;
        display: flex;
        place-content: space-between;
    }

    header nav ul .thisBold {
        font-weight: bold;
    }

    header .category > li { 
        text-transform: uppercase;
        padding: 20px;
        font-size: 1rem;
    }
    
    header .first-menu .userAssetsAndSearch .search {
        width: auto;
        border: none;
    }

    header .first-menu .userAssetsAndSearch .search{
        cursor: pointer;
    }

    header .first-menu .search .buttonSearch {
        padding: 17px 18px;
        display: flex;
        align-items: center;
    }

    header .first-menu .userAssetsAndSearch .search .searching {
        display: none;
    }

    header .search-form {
        position: absolute;
        top: 160px;
        left: -120rem;
        width: 100%;
        height: 2.5rem;
        background-color: #000;
        border-radius: 4px;
        overflow: hidden;
        display: flex;
        transition: 0.4s;
        z-index: 999;
    }

    header .search-form.active {
        left:0;
    }

    header .search-form .search-mobile {
        display: block!important;
        height: 100%;
        width: 100%;
        font-size: 1rem;
        padding: 0 1rem;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
    }

    header .first-menu .userAssetsAndSearch .assets .menu .heart-li {
        display: none;
    }

    header .favorite-form {
        left: 0;
    }

    header .favorite-form .close {
        left: 97px;
    }

    header .favorite-form .favorite-items .wishlist .inf{
        left: 460px;
    }

    header .login-form .close {
        right: 90px;
        top: -20px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 20px solid #000;
    }

    header .shopping-form .close {
        right: 11px;
    }

}

@media (max-width: 600px) {

    header .login-form {
        width: 100%;
        max-width: 100%;
    }

    header .shopping-form {
        max-width: initial;
        justify-content: center;
        place-self: center;
        padding: 0;
        right: 0;
        width: 100%;
    }

    header .shopping-form .close {
        right: 30px;
    }

    header .shopping-form .item section img {
        object-fit: cover;
        max-width: 100px;
    }

    header .shopping-form .button-submit::before {
        display: none;
    }

    header .shopping-form .item .info-item section {
        font-size: 0.8rem;
    }

}

@media (max-width: 485px) {

    header .login-form .close {
        top: -20px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 20px solid #000;
    }
}

@media (max-width: 450px) {

    header .first-menu .logo {
        width: 12%;
    }
}

@media (max-width: 390px) {

    header .shopping-form .close {
        display: none;
    }
}