header {
    overflow-y: hidden;
    overflow-x: hidden;
    top: 0;
    left: 0;
    align-items: center;
    height: auto;
}

header > .offer h3 {
    color: #fff;
    background-color: #000;
    text-align: center;
    font-size: 0.6875rem;
    letter-spacing: 0.15rem;
    padding: 25px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

header > .offer h3:hover {
    text-decoration: underline;
}

header .extra-inf {
    position: relative;
    height: 16px;
}

header .extra-inf nav ul {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 0;
    padding-right: 40px;
}

header .extra-inf nav ul li {
    font-size: 0.8125rem;
    cursor: pointer;
    padding: 5px;
}

header .first-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    position: relative;
}

header .first-menu .icons-left {
    display: none;
}

header .first-menu .logo {
    cursor: pointer;
}

header .first-menu .menu {
    display: flex;
}

header .first-menu nav > ul .name-category {
    font-size:.9rem;
    padding: 0px 10px;
    cursor: pointer;
    margin-top: 15px;
    letter-spacing: 0.1rem;
}

header .first-menu > nav > ul li::after {
    content: '';
    display: block;
    width: 0px;
    height: 3px;
    margin-top: 10px;
    background: #000;
}

header .first-menu > nav > ul li:hover::after {
    width: 100%;
    transition: 0.4s;
}

header .first-menu nav > ul .thisBold {
    font-weight: bold;
}

header .first-menu .category {
    display: flex;
    align-items: center;
}

header .first-menu .category > li { 
    text-transform: uppercase;
    font-size: 1rem;
}

header .first-menu .userAssetsAndSearch {
    display: flex;
}

header .first-menu .search {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0);
    position: absolute;
    right: 210px;
}

header .first-menu .search .buttonSearch {
    display: flex;
    align-items: center;
}
