
main .main-background {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 40px;
    height: 500px;
}

main .main-background .buttonsOfSneakers .btn {
    width: 50px;
    height: 10px;
}

main .main-background .inf-product {
    width: 60ch;
    display: grid;
    justify-self: start;
    align-self: center;
    gap: 40px;
}

main .main-background .inf-product h1 {
    font-size: 2rem;
    font-style: italic;
}