
main .main-background {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 40px;
    height: 500px;
}

main .main-background .buttonsOfSneakers .btn {
    width: 50px;
    height: 10px;
}

main .main-background .inf-product {
    width: 60ch;
    display: grid;
    justify-self: start;
    align-self: center;
    gap: 40px;
}

main .main-background .inf-product h1 {
    font-size: 2rem;
    font-style: italic;
}

main .main-background .inf-product p {
    font-size: 1.3rem;
}

main .main-background .inf-product button {
    background-color: rgb(168, 168, 168);
    font-size: 1.1rem;
    padding: 20px;
    font-weight: bold;
    place-self: left;
    width: 12rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

main .main-background .inf-product button img {
    animation: moveArrow 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes moveArrow {
    0% {transform: translateY(-5px);}
    100% {transform: translateY(5px);}
}

main .main-background .buttonsOfSneakers {
    align-self: end;
    justify-self: center;
}

main .main-background .buttonsOfSneakers .buttonOrange {
    background-color: #f6786c;
    cursor: pointer;
}

main .main-background .buttonsOfSneakers .buttonBlack {
    background-color: #212024;
    cursor: pointer;
}

main .main-background .buttonsOfSneakers .buttonPurple {
    background-color: #25244E;
    cursor: pointer;
}

main .main-background .sneakers {
    position: relative;
}

main .main-background .sneakers .Blacksneakers {
    position: relative;
    z-index: 2;
    position: absolute;
    right: -0px;
    bottom: 60px;
    transition: 2s;
    cursor: pointer;
}

main .main-background .sneakers .Blacksneakers:hover {
    transform: translateY(-80px) rotate(25deg);
}

main .main-background .sneakers .two-sneakers {
    display: none;
}

main .main-background .sneakers .circle {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background-color: #212024;
    position: absolute;
    right: -210px;
    bottom: -15px;
    cursor: pointer;
}

@media (max-width: 1350px) {

    main .main-background {
        grid-template-columns: 2fr auto 1fr;
    }

    main .main-background .inf-product {
        width: 100%;
        gap: 20px;
    }

}